<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>API Documentation</title>
    <meta name="description" content="Koa API Documentation">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{> style}}
    {{> script}}
  </head>
  <body>