
{{> header }}
<div class='navbar'>
  <h1>APIs</h1>
  <div class='actions'>
    <span class='btn' id='minimize'>minimize all</span>
    <span class='btn' id='expand'>expand all</span>
    <span class="search"><b>filter</b><input id="search"/></span>
  </div>
</div>
{{#routes}}
  {{#stack}}
    <div class='route'>
      <h2>{{name}}{{^name}}Missing Name{{/name}}</h2>
      <div class='path box'>
        {{#methods}}
          <b class='box'>{{.}}</b>
        {{/methods}}
        <span class='url'>{{path}}</span>
        <span class="fa-stack copy">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-copy fa-stack-1x"></i>
        </span>
      </div>
      {{#if regexp.keys.length}}
        <div class='path-regex'>
          {{#regexp.keys}}
            <b>{{name}}: {{pattern}}</b>
          {{/regexp.keys}}
        </div>
      {{/if}}
      <div class='route-details'>
        {{#parseJoi stack}}
          {{#if params}}<h3>Params</h3>{{/if}}
          {{> validations params }}
          {{#if query}}<h3>Query</h3>{{/if}}
          {{> validations query }}
          {{#if body}}<h3>Body</h3>{{/if}}
          {{> validations body }}
        {{/parseJoi}}
      </div>
    </div>
  {{/stack}}
{{/routes}}
{{> footer }}