<script>
$.expr[":"].contains = $.expr.createPseudo((arg) => {
  return (elem) =>$(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0
})

$(() => {
  const app = {
    copyToClipboard: (element) => {
      var $temp = $("<input>")
      $("body").append($temp)
      $temp.val($(element).text()).select()
      document.execCommand("copy")
      $temp.remove()
    },
    init: () => {
      app.actions()
      $('#search').keyup(app.search)
      app.headerShadow()
    },
    actions: () => {
      $('#minimize').click(() => {
        $('#expand, #minimize').toggle()
        $('.route-details').hide()
      })
      $('#expand').hide().click(() => {
        $('#expand, #minimize').toggle()
        $('.route-details').show()
      })
      $('.route h2').click((e) => {
        $(e.target).parents('.route').children('.route-details').toggle()
      })
      $('.copy').click((e) => {
        app.copyToClipboard($(e.target).parents('.path').children('.url'))
      })
    },
    search: (e) => {
      const value = $(e.target).val()
      console.log('test', value)
      $('.route').hide()
      $(`:contains(${value})`).parents('.route').show()
    },
    headerShadow: () => {
      $(window).scroll(() => { 
        if ($(window).scrollTop() > 0) {
          $(".navbar").addClass("active");
        } else {
          $(".navbar").removeClass("active");
        }
      })
    }
  }
  app.init()
})
</script>