{{#joiOrNot this}}
  {{#describe this}}
    {{this}}
  {{/describe}}
{{else}}
  {{#each this}}
    <div class='schema'>
      <div class='item'>
        <div class='key box'>{{@key}}</div>
        <div class='validations'>
          {{#describe this}}
            {{this}}
          {{/describe}}
        </div>
      </div>
    </div>
  {{/each}}
{{/joiOrNot}}